nav ul{
    width: 100%;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    font-style: oblique;
    }
nav a{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    padding: 30px;
    width: 150px;
}
header nav ul{
    list-style: none;
}
header nav ul li {
    float: left;
}
body{
background: purple;
}